html {
  box-sizing: border-box;
}

* body {
  font-family: "Open Sans";
  font-weight: 400;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* nesting */
.header {
  background-color: #FFF0ED;
  padding: 2.25rem;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  position: sticky;
  z-index: 4;
}
.header .logo {
  width: auto;
  height: 2rem;
  text-decoration: none;
}

.header__logo, .header__navlinks {
  display: flex;
  flex: content;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.3125rem;
  padding: 1.25rem;
  margin: 0;
  color: black;
  border-radius: 1.25rem;
}

.header__title {
  font-size: 3.75rem;
  font-weight: 300;
  text-decoration: none;
  color: black;
  display: inline;
  border-radius: 1.25rem;
}

.header__navlinks a {
  display: inline;
  padding: 1.25rem;
  text-decoration: none;
  font-size: 1.3125rem;
  font-weight: 400;
  color: black;
}

.header__navlinks a:hover {
  color: #5BACC3;
}

.Product__section {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}

.product__item {
  width: 20.625rem;
  margin: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.product__container {
  padding: 0;
  height: 8rem;
  display: flex;
  background-color: #FFF0ED;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.product__name-container {
  width: 100vw;
  text-align: left;
  position: relative;
  top: 0;
  left: 0.9375rem;
}

.product-main_container {
  background-color: #F7F7F7;
  padding: 1.25rem;
}

.product__price {
  position: relative;
  top: 0.0625rem;
  left: 1.875rem;
  color: #5BACC3;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Open Sans bold";
  display: flex;
  width: 20%;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-right: 25%;
}

.product__image {
  height: 17.5rem;
  padding: 1.25rem;
}

.product__name {
  text-align: left;
  margin: 0;
}

.outer-product_button {
  border: 0.125rem solid black;
  position: relative;
  width: 11.25rem;
  height: 4rem;
  z-index: 2;
  top: 3.8125rem;
  left: 39.375rem;
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
.outer-product_button:hover {
  transform: translateY(1.25rem);
  opacity: 0.5;
}

.inner-product__button {
  width: 11.25rem;
  padding: 1.25rem;
  color: white;
  background-color: #5BACC3;
  vertical-align: text-bottom;
  margin: 0rem 40rem;
  align-items: center;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 1.25rem;
}

h3 {
  font-size: 1.9375rem;
  font-weight: 300;
  margin: 1.25rem;
}

nav {
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
}

.product__details {
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  color: #909090;
  font-weight: 400;
  font-size: 1.125rem;
}

.before-footer {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  height: 30rem;
  margin: 8rem;
  padding: 1.25rem;
}

.before-footer_content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.before-footer_image {
  background-image: url(/Assets/images/coldbrewbackground.png);
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 24.375rem;
  position: relative;
}

.before-footer__image--tilted {
  z-index: 5;
  left: 9rem;
  top: 6.625rem;
  position: relative;
  width: 7.5rem;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.before-footer__image--tilted:hover {
  animation: spin 1s linear infinite;
}

.before-footer_content {
  text-align: left;
  display: flex;
}

.before-footer_icons {
  width: 3.125rem;
  gap: 305%;
}

.before-footer_paragraph {
  width: 50%;
  padding-right: 8.25rem;
}

.before-footer__image-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -22rem;
  margin-right: -4rem;
}

.before-footer__image-container--outer {
  border: #5BACC3 solid 0.25rem;
  position: relative;
  z-index: 1;
  top: -2rem;
  left: 23.75rem;
  width: 25rem;
  height: 25rem;
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
.before-footer__image-container--outer:hover {
  transform: translateY(1.25rem);
  opacity: 0.5;
}

.before-footer_title {
  text-align: left;
}

.before-footer__button {
  background-color: #5BACC3;
  width: 20%;
  margin-top: 3.9rem;
}

.before-footer__button-container--outer {
  border: 0.125rem solid black;
  width: 20%;
  height: 4rem;
  position: relative;
  top: 6.875rem;
  left: -0.625rem;
  z-index: 1;
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
.before-footer__button-container--outer:hover {
  transform: translateY(1.25rem);
  opacity: 0.5;
}

footer {
  height: 10%;
  width: 100%;
  display: inline block;
}

button {
  font-size: 1.3125rem;
  font-weight: 400;
  width: 11.25rem;
  padding: 1.25rem;
  color: white;
  background-color: #5BACC3;
}

.pink {
  /* display: flex; */
  background-color: #FFF0ED;
  padding: 5rem;
  width: auto;
  height: 35rem;
  z-index: 1;
}

.inner-nitroblue_button {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  left: 0;
}

.outer-nitroblue_button {
  position: relative;
  border: 0.125rem solid #000;
  width: 10.9531rem;
  height: 4rem;
  z-index: 3;
  top: 3.5rem;
  left: -0.4375rem;
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;
}
.outer-nitroblue_button:hover {
  transform: translateY(1.25rem);
  opacity: 0.5;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  width: 33%;
}

.discount {
  font-size: 1.9375rem;
  font-weight: 400;
  background-color: #393939;
  color: white;
  width: 80%;
  padding: 3.125rem;
  margin: 6.25rem;
}

.icons {
  width: 3.125rem;
  text-decoration: none;
  display: inline-block;
}

.heroimage {
  position: absolute;
  top: 0%;
  right: 0;
  max-width: 25rem;
  margin: 0rem 6.25rem;
  float: left;
}

.footer__sections {
  display: inline-block;
  text-align: left;
  padding: 3.125rem;
}

.pink2 {
  width: 100%;
  display: inline-block;
  background-color: #FFF0ED;
  margin: 0;
  text-align: center;
}/*# sourceMappingURL=landing.css.map */